<div class="about-pos">
<h2 class="about-box">About us</h2>
</div>
<div class="about-logo"><img width="300" src="~/images/Valodiks_logo.png"/></div>
<div class="about-text">
<p>Valodik's Car Rental, Inc - Through its Dollar Rent A Car and Thrifty Car Rental brands, Valodik's Car Rental has been serving value-conscious leisure and business travelers since 1950. Dollar Thrifty maintains a strong presence in domestic leisure travel in virtually all of the top U.S. and Canadian airport markets, and derives a significant portion of its revenue from international travelers to the U.S. under contracts with various international tour operators. Dollar and Thrifty have approximately 340 corporate locations in the United States and Canada. In addition to its corporate operations, the Company maintains global service capabilities through an expansive franchise network of approximately 1,060 franchise locations in over 75 countries.</p>
</div>
